<h3>media: {{media.title}}</h3>


<div *ngIf="media.media_type == 'image'">
   <img [alt]="media.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + media.filename">
</div>
<div *ngIf="media.media_type == 'video'">
  <video width="640" height="360" controls>
    <source type='video/mp4' [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + media.filename">
  </video> 
</div>
<div *ngIf="media.media_type == 'audio'">
  <audio controls>
    <source  type="audio/ogg" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + media.filename">
    <source type="audio/mpeg" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + media.filename" >
  </audio>
</div>

<p>
description: {{media.description}}
</p>
<p>
user: {{user.username}}
</p>
<p *ngIf="likes.length > 0">
likes: {{likes.length}}
</p>
<p *ngIf="likes.length <= 0">
likes: 0
</p>
<p>
date: {{media.time_added}}
</p>


<div *ngIf="media.media_type == 'image'">
   <p>filetype:  image</p>
</div>
<div *ngIf="media.media_type == 'video'">
   <p> filetype: video</p>
</div>
<div *ngIf="media.media_type == 'audio'">
    <p>filetype: audio</p>
</div>


    <!--<img [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename">-->
      <!--<img alt={{singlemedia.title}} src="http://media.mw.metropolia.fi/wbma/uploads/" + {{singlemedia.filename}}">-->

